<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="row">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
        </div>
        <div class="mb-3 d-grid">
            <button type="submit" class="btn btn-primary mb-3 ">Login</button>
        </div>        
    </div>
</form>