<div class="card" style="width: 100%">
    <div class="card-header">นำเข้าไฟล์ excel</div>
    <div class="card-body">
      <form class="row g-3">      
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input
            type="file"
            class="form-control"
            id="inputPassword2"
            placeholder="Password"
            (change)="excelRead($event)"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">
            ส่งออก
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <table>
      <tr *ngFor="let item of result; let index1=index">
          <td>{{index1+1}}</td>
          <td>{{item | json}}</td>
      </tr>
  </table>
  